    <% var pageClass = "page-about"; %>
    <% include layout/_head %>
    <% include layout/_header %>
            <!-- start contents -->
            <div class="container">
                <article class="About">
                    <h2 class="pageHeading2">About</h2>

                    <div class="containerBox">
                    <section class="aboutMe">
                        <div class="about-photo"></div>
                        <h3 class="nameEnglish">SHOHEI MATSUO</h3>
                        <p class="nameJapanese">松尾 ショウヘイ</p>
                        <p  class="katagaki">I'm a designer / art director.</p>
                        <div class="snsLinks">
                            <ul>
                                <li class="snsLink"></li>
                                <li class="snsLink"></li>
                                <li class="snsLink"></li>
                            </ul>
                        </div>

                    </section>
                    </div>

                    <div class="containerBox">
                        <section class="profile">
                            <h3 class="pageHeading3">Profile</h3>
                            <p>1993年福岡県生まれ。アニメ、ゲーム、音楽に囲まれて育つ。</p>
                            <p>大学在学中、趣味でWEBサイト制作に取り組むが挫折。悔しさからITに精通してやろうと、システムエンジニアとして都内SIerに就職し、大手企業のシステム構築に携わる。並行して、個人でWEBサイト制作やデザインのいろはを学ぶ。</p>
                                <p>2019年、独立しフリーランスとしてWEBサイト制作やグラフィックデザインのプロジェクトを展開中。</p>
                        </section>
                    </div>
                    <div class="containerBox">
                        <section class="skill">
                        <h3 class="pageHeading3">Skills</h3>
                        <ul class="skillLists">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>SCSS</li>
                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>Adove XD</li>
                            <li>Adove Premiere</li>
                            <li>CLIP STUDIO PAINT</li>
                            <li>SAI</li>
                            <li>SCSS</li>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>Node.js</li>
                            <li>gulp.js</li>
                            <li>PHP</li>
                            <li>MySQL</li>
                            <li>SQL server</li>
                            <li>WordPress</li>
                            <li>Linux</li>
                            <li>CSS</li>
                            <li>CentOS</li>
                            <li>Git</li>
                            <li>Subversion</li>

                        </ul>
                        </section>
                    </div>
                </article>
            </div>
            <!-- end contents -->
        <% include layout/_footer %>
        <% include layout/_script %>
