<% var pageClass = "page-article"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>News</h1>
                    </div>
                    <div class="breadcrumbs">Home - News</div>
                    <article class="">
                        <section class="articleContents">
                            <div class="articleContents-date">
                                2019.01.31
                            </div>
                            <div class="articleContents-title">
                                ニュースタイトル
                            </div>
                            <div class="articleContents-image">

                            </div>
                            <div class="articleContents-text">

                            </div>
                        </section>
                    </article>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
                <% include layout/_script %>
