<% var pageClass = "page-article"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>News</h1>
                    </div>
                    <div class="breadcrumbs">Home - News</div>
                    <article>
                        <section class="articleContents">
                            <time>2019.01.31</time>
                            <h2>ニュースタイトル</h2>
                            <div class="articleContents-image"></div>
                            <p>
                                もともとはメーカーに勤めていましたが、30代で全く異なる職種である飲食業の仕事をすることになりました。食べることは好きでしたが、飲食の仕事については素人でした。毎日朝から晩まで周りのスタッフの力になろうと必死でしたが、自分の中にある違和感だけは日に日に大きくなっていきました。当時飲食店では労働時間の長さ、休日や有休の取りにくさは当たり前で、そこに疑問を持つ頃には辞めていくスタッフもいました。お客様に安らぎや活力を提供する側がこのような状態ではいけないと思い、環境改善が自分の中の大きなテーマとなっていきました。お客様に貢献するスタッフの環境改善こそが次につながると信じて改革継続中です。
                            </p>
                        </section>
                    </article>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
                <% include layout/_script %>
