<% var pageClass = "page-blogchild"; %>
<% include layout/_head %>
<% include layout/_header %>

            <!-- start contents -->
            <div class="article-countainer">
                <aside class="
                archive-aside">
                    <ul>
                        <li>
                            <div class="
                            archive-aside-icon"></div>
                            <div class="
                            archive-aside-date">2018.7.31</div>
                            <div class="archive-aside-title">瀧本珈琲</div>
                        </li>
                    </ul>
                </aside>
                <div class="container">
                    <article class="article">
                        <h2 class="pageHeading2">Blog</h2>
                        <section class="article-header">
                            <div class="article-date">2018.12.31</div>
                            <h3 class="pageHeading3">ブログタイトル</h3>
                            <div class="article-category">photo</div>

                        </section>

                        <section class="article-lead">
                            <div class="article-headingimage"></div>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                        </section>
                        <section class="article-content">
                            <h4 class="article-heading">章タイトル</h4>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                        </section>

                        <section class="article-content">
                            <h4 class="article-heading">章タイトル</h4>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。概要をかきます。あああああああああああああああああああああああああああ。概要をかきます。あああああああああああああああああああああああああああ。概要をかきます。あああああああああああああああああああああああああああ。</p>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                            <p class="article-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                        </section>
                    </article>

                </div>
            </div>
            <!-- end contents -->

<% include layout/_footer %>
<% include layout/_script %>
