<% var pageClass = "page-blog"; %>
    <% include layout/_head %>
        <% include layout/_header %>

            <!-- start contents -->
            <div class="container">
                <section class="articles">
                    <h2 class="pageHeading2">Blog</h2>
                    <ul id="articles-articlesList">
                        <a href="blogchild.html">
                        <li class="articles-article">
                                <div class="articles-container">

                                    <div data-picture data-alt="瀧本珈琲" class="articlesimg">
                                    </div>

                                <div class="articles-caption">
                                <p class="articles-date">2018.12.31</p>
                                <h3 class="pageHeading3">瀧本珈琲</h3>
                                <div class="articles-category">news</div>
                                </div>
                            </div>
                        </li>
                        </a>
                        <li class="articles-article">
                                <div class="articles-container">
                                <a href="blogchild.html">
                                    <div data-picture data-alt="瀧本珈琲" class="articlesimg">
                                    </div>
                                </a>
                                <div class="articles-caption">
                                <p class="articles-date">2018.12.31</p>
                                <h3 class="pageHeading3">瀧本珈琲</h3>
                                <div class="articles-category">news</div>
                                </div>
                            </div>
                        </li>
                        <li class="articles-article">
                                <div class="articles-container">
                                <a href="blogchild.html">
                                    <div data-picture data-alt="瀧本珈琲" class="articlesimg">
                                    </div>
                                </a>
                                <div class="articles-caption">
                                <p class="articles-date">2018.12.31</p>
                                <h3 class="pageHeading3">瀧本珈琲</h3>
                                <div class="articles-category">news</div>
                                </div>
                            </div>
                        </li>
                        <li class="articles-article">
                                <div class="articles-container">
                                <a href="blogchild.html">
                                    <div data-picture data-alt="瀧本珈琲" class="articlesimg">
                                    </div>
                                </a>
                                <div class="articles-caption">
                                <p class="articles-date">2018.12.31</p>
                                <h3 class="pageHeading3">瀧本珈琲</h3>
                                <div class="articles-category">news</div>
                                </div>
                            </div>
                        </li>
                        <li class="articles-article">
                                <div class="articles-container">
                                <a href="blogchild.html">
                                    <div data-picture data-alt="瀧本珈琲" class="articlesimg">
                                    </div>
                                </a>
                                <div class="articles-caption">
                                <p class="articles-date">2018.12.31</p>
                                <h3 class="pageHeading3">瀧本珈琲</h3>
                                <div class="articles-category">news</div>
                                </div>
                            </div>
                        </li>
                        <li class="articles-article">
                                <div class="articles-container">
                                <a href="blogchild.html">
                                    <div data-picture data-alt="瀧本珈琲" class="articlesimg">
                                    </div>
                                </a>
                                <div class="articles-caption">
                                <p class="articles-date">2018.12.31</p>
                                <h3 class="pageHeading3">瀧本珈琲</h3>
                                <div class="articles-category">news</div>
                                </div>
                            </div>
                        </li>
                        <li class="articles-article">
                                <div class="articles-container">
                                <a href="blogchild.html">
                                    <div data-picture data-alt="瀧本珈琲" class="articlesimg">
                                    </div>
                                </a>
                                <div class="articles-caption">
                                <p class="articles-date">2018.12.31</p>
                                <h3 class="pageHeading3">瀧本珈琲</h3>
                                <div class="articles-category">news</div>
                                </div>
                            </div>
                        </li>
                        <li class="articles-article">
                                <div class="articles-container">
                                <a href="blogchild.html">
                                    <div data-picture data-alt="瀧本珈琲" class="articlesimg">
                                    </div>
                                </a>
                                <div class="articles-caption">
                                <p class="articles-date">2018.12.31</p>
                                <h3 class="pageHeading3">瀧本珈琲</h3>
                                <div class="articles-category">news</div>
                                </div>
                            </div>
                        </li>


                        <div class='wp-pagenavi'>

                        </div>
                    </ul>
                </section>

            </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
