<% var pageClass = "page-company"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>Company</h1>
                    </div>
                    <div class="breadcrumbs">Home - Company</div>
                    <section class="topMessage">
                        <h2>代表挨拶</h2>
                        <div class="topMessage-image"></div>
                        <p class="topMessage-text">コーヒーの焙煎卸業としてスタートしたドトールコーヒーは、“一杯のおいしいコーヒーを通じて、お客様にやすらぎと活力を提供する”という企業理念のもと、セルフコーヒーショップのパイオニアとして立地創造を重ね、世の中に新たな価値を提案してまいりました。 創業から半世紀を経たいま、コーヒービジネスの枠を越えて、DOUTORといえば「おいしい」「安全・安心」「高品質」の代名詞となるようなブランドを確立してまいります。
                        </p>

                        <p class="topMessage-text">
                            お客様はもとより、従業員、加盟店、取引先、地域社会の皆様をはじめ、ドトールグループに関わるすべての人々を幸せにするエクセレント・リーディングカンパニーを目指し、これからも成長を続けてまいりたいと思います。
                        </p>
                        <p class="topMessage-katagaki">代表取締役社長</p>
                        <p class="topMessage-name">森田 武</p>
                    </section>
                    <section class="aboutCompany">
                        <h2>会社概要</h2>
                        <div class="tlset01">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>社名</th>
                                        <td>株式会社伊藤屋</td>
                                    </tr>
                                    <tr>
                                        <th>所在地</th>
                                        <td>
                                            <p>〒210-0007</p>
                                            <p>神奈川県川崎市川崎区駅前本町3-4</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>事業内容</th>
                                        <td>
                                            <p>飲食店経営</p>
                                            <p>煙草販売</p>
                                            <p>不動産賃貸</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>創業</th>
                                        <td>明治22年4月</td>
                                    </tr>
                                    <tr>
                                        <th>設立</th>
                                        <td>昭和25年12月</td>
                                    </tr>
                                    <tr>
                                        <th>役員</th>
                                        <td>
                                            <p><span>代表取締役会長</span>伊藤 喜一郎</p>
                                            <p><span>代表取締役社長</span>森田 武</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>資本金</th>
                                        <td>1,000万円</td>
                                    </tr>
                                    <tr>
                                        <th>従業員数</th>
                                        <td>300名（パート・アルバイト含む）</td>
                                    </tr>
                                    <tr>
                                        <th>売上高</th>
                                        <td>12億円</td>
                                    </tr>
                                    <tr>
                                        <th>取引銀行</th>
                                        <td>
                                            <p>三菱東京UFJ銀行川崎支店</p>
                                            <p>三井住友銀行川崎支店</p>
                                            <p>川崎信用金庫本店営業部</p>
                                            <p>商工組合中央金庫川崎支店</p>
                                            <p>日本政策金融公庫川崎支店</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>取引先</th>
                                        <td>
                                            <p>（株）ドトールコーヒー</p>
                                            <p>（株）プロントコーポレーション</p>
                                            <p>（株）大戸屋</p>
                                            <p>日本たばこ産業（株）</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="aboutCompany-map">
                        </div>
                    </section>
                </div>
            </main>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
