<% var pageClass = "page-garally"; %>
    <% include layout/_head %>
        <% include layout/_header %>

            <!-- start contents -->
            <div class="container">
                <section class="garallys">
                    <h2 class="pageHeading2">Garally</h2>
                    <ul id="garallys-garallysList">
                        <a href="garallychild.html">
                            <li class="garallys-garally">
                                <div class="garallys-container">
                                    <div data-picture data-alt="瀧本珈琲" class="garallyimg">
                                    </div>
                                    <div class="garallys-caption">
                                        <h3 class="pageHeading3">瀧本珈琲</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="garallychild.html">
                            <li class="garallys-garally">
                                <div class="garallys-container">
                                    <div data-picture data-alt="瀧本珈琲" class="garallyimg">
                                    </div>
                                    <div class="garallys-caption">
                                        <h3 class="pageHeading3">瀧本珈琲</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="garallychild.html">
                            <li class="garallys-garally">
                                <div class="garallys-container">
                                    <div data-picture data-alt="瀧本珈琲" class="garallyimg">
                                    </div>
                                    <div class="garallys-caption">
                                        <h3 class="pageHeading3">瀧本珈琲</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="garallychild.html">
                            <li class="garallys-garally">
                                <div class="garallys-container">
                                    <div data-picture data-alt="瀧本珈琲" class="garallyimg">
                                    </div>
                                    <div class="garallys-caption">
                                        <h3 class="pageHeading3">瀧本珈琲</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="garallychild.html">
                            <li class="garallys-garally">
                                <div class="garallys-container">
                                    <div data-picture data-alt="瀧本珈琲" class="garallyimg">
                                    </div>
                                    <div class="garallys-caption">
                                        <h3 class="pageHeading3">瀧本珈琲</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="garallychild.html">
                            <li class="garallys-garally">
                                <div class="garallys-container">
                                    <div data-picture data-alt="瀧本珈琲" class="garallyimg">
                                    </div>
                                    <div class="garallys-caption">
                                        <h3 class="pageHeading3">瀧本珈琲</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="garallychild.html">
                            <li class="garallys-garally">
                                <div class="garallys-container">
                                    <div data-picture data-alt="瀧本珈琲" class="garallyimg">
                                    </div>
                                    <div class="garallys-caption">
                                        <h3 class="pageHeading3">瀧本珈琲</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a href="garallychild.html">
                            <li class="garallys-garally">
                                <div class="garallys-container">
                                    <div data-picture data-alt="瀧本珈琲" class="garallyimg">
                                    </div>
                                    <div class="garallys-caption">
                                        <h3 class="pageHeading3">瀧本珈琲</h3>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <div class='wp-pagenavi'>
                        </div>
                    </ul>
                </section>

            </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
