<% var pageClass = "page-front"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="keyvisual">
                        <div class="keyvisual-image">
                        </div>
                        <p class="keyvisual-maintext">
                            本当の自分が<br> 目覚める場所はどこだ
                        </p>
                        <p class="keyvisual-subtext">
                            あなたに潜んだ真の実力、<br> あなたならではの個性を活かして働ける舞台がドトールの中にきっと存在する。
                            <br> 真っ白な気持ちでドトールで、
                            <br> 活躍するあなたの未来の種を見つけてください。
                        </p>
                    </div>
                    <section class="campany">
                        <h1>Campany</h1>
                        <h2>会社について</h2>
                        <p></p>
                        <div class="botton">more</div>
                        <div class="campany-image">
                        </div>
                    </section>
                    <section class="service">
                        <h1>Service</h1>
                        <h2>サービス</h2>
                        <p></p>
                        <ul>
                            <li>
                                <p>PRONTO</p>
                                <div class="service-image">
                                </div>
                            </li>
                            <li>
                                <p>DOUTOR</p>
                                <div class="service-image">
                                </div>
                            </li>
                            <li>
                                <p>大戸屋</p>
                                <div class="service-image">
                                </div>
                            </li>
                            <li>
                                <p>焼肉 & Bar 十炭</p>
                                <div class="service-image">
                                </div>
                            </li>
                        </ul>
                    </section>
                    <section class="news">
                        <h1>News</h1>
                        <h2>お知らせ</h2>
                        <div class="botton">more</div>
                    </section>
                    <section class="recruit">
                        <h1>Recruit</h1>
                        <h2>採用情報</h2>
                        <p>伊藤屋では、一緒に働く仲間を募集しています。</p>
                        <ul>
                            <li>採用メッセージ</li>
                            <li>伊藤屋を知る12のコト</li>
                            <li>社員インタビュー</li>
                            <li>募集要項</li>
                        </ul>
                    </section>
                </div>
            </main>
            <!-- end contents -->

            <% include layout/_footer %>
            <% include layout/_script %>
