<% var pageClass = "page-front"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <div class="contents">
                <div class="contents-inner">
                    <div class="title">
                        MATSUO SHOHEI
                    </div>
                    <nav class="icons">
                        <ul>
                            <li>
                                <a href="about.html">
                                    A
                                </a>
                            </li>
                            <li>
                                <a href="service.html">
                                    <div class="icon">S</div>
                                </a>
                            </li>
                            <li>
                                <a href="works.html">
                                    <div class="icon">W</div>
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <div class="icon">B</div>
                                </a>
                            </li>
                            <li>
                                <a href="garally.html">
                                    <div class="icon">G</div>
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <div class="icon">C</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
