<% var pageClass = "page-news"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>News</h1>
                    </div>
                    <div class="breadcrumbs">Home - News</div>
                    <section class="serviceContents">
                        <h2>お知らせ一覧</h2>
                        <ul>
                            <li>
                                <p>2019.01.31</p>
                                <p>ニュースタイトル</p>
                            </li>
                            <li>
                                <p>2019.01.31</p>
                                <p>ニュースタイトル</p>
                            </li>
                            <li>
                                <p>2019.01.31</p>
                                <p>ニュースタイトル</p>
                            </li>
                            <li>
                                <p>2019.01.31</p>
                                <p>ニュースタイトル</p>
                            </li>
                            <li>
                                <p>2019.01.31</p>
                                <p>ニュースタイトル</p>
                            </li>
                        </ul>
                    </section>
                </div>
            </main>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
