<% var pageClass = "page-recruit-interview"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>Recruit</h1>
                    </div>
                    <div class="breadcrumbs">Home - Interview - A.A</div>
                    <article class="">
                        <div class="discriptionBox">
                            <div class="discriptionBox-image"></div>
                            <div class="careerCard">
                                <p class="careerCard-date">
                                    <time datetime="2015">2015年</time> 入社
                                </p>
                                <h2 class="careerCard-name">A.A</h2>
                                <p class="careerCard-job">マネージャー</p>
                                <p class="careerCard-text">あjさんdじゃvsじゃvんさ.
                                あjさんdじゃvsじゃvんさあjさんdじゃvsじゃvんさあjさんdじゃvsじゃvんさあjさんdじゃvsじゃvんさあjさんdじゃvsじゃvんさ</p>
                            </div>
                        </div>
                        <section class="question">
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q1.どんなお仕事をされていますか</h3>
                                <p class="questionCols-answer">プロント八重洲柳通り店の店長、一緒に働くスタッフが楽しく働くような環境を作っています。</p>
                                <div class="questionCols-image"></div>
                            </div>
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q2.伊藤屋に入社を決めた理由は何ですか</h3>
                                <p class="questionCols-answer">一緒に働きたい方が当時の伊藤屋にいたから</p>
                                <div class="questionCols-image"></div>
                            </div>
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q3.伊藤屋の良さは何ですか</h3>
                                <p class="questionCols-answer">働いている社員、アルバイトさんの人の良さ、</p>
                                <div class="questionCols-image"></div>
                            </div>
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q4.伊藤屋で働いている時の印象に残るエピソードは何ですか？</h3>
                                <p class="questionCols-answer">否定をされず、まず肯定していただき、やりたいことをまずやらせていただける、尊重してもらえる、</p>
                                <div class="questionCols-image"></div>
                            </div>
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q5.これから伊藤屋に入社を希望する方にメッセージをお願いします</h3>
                                <p class="questionCols-answer">ただ言われて、ただ働く環境ではなく、仕事を自分で決め（販促、取り組み等）自分で考えるお店を作る方にはオススメです！</p>
                                <div class="questionCols-image"></div>
                            </div>

                        </section>

                    </article>

                    <section class="recruitFooter">
                        <div class="moreButton">
                            <a href="#">応募する</a>
                        </div>
                        <div class="recruitFooter-title">
                            Recruit
                        </div>
                        <nav class="recruitFooter-nav">
                            <ul>
                                <li><a href="recruit-message.html">採用メッセージ<span class="arw"></span></a></li>
                                <li><a href="recruit-itoya12.html">伊藤屋を知る12のコト<span class="arw"></span></a></li>
                                <li><a href="recruit-interview.html">社員インタビュー<span class="arw"></span></a></li>
                                <li><a href="recruit-requirement.html">募集要項<span class="arw"></span></a></li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
                <% include layout/_script %>
