<% var pageClass = "page-recruit-interview"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>Recruit</h1>
                    </div>
                    <div class="breadcrumbs">Home - Interview - A.A</div>
                    <article class="">
                        <div class="discriptionBox">
                            <div class="discriptionBox-image"></div>
                            <div class="careerCard">
                                <p class="careerCard-date">
                                    <time datetime="2015">2015年</time> 入社
                                </p>
                                <h2 class="careerCard-name">A.A</h2>
                                <p class="careerCard-job">マネージャー</p>
                                <p class="careerCard-text">あjさんdじゃvsじゃvんさ.
                                あjさんdじゃvsじゃvんさあjさんdじゃvsじゃvんさあjさんdじゃvsじゃvんさあjさんdじゃvsじゃvんさあjさんdじゃvsじゃvんさ</p>
                            </div>
                        </div>
                        <section class="question">
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q1.どんなお仕事をされていますか</h3>
                                <p class="questionCols-answer">ドトールコーヒーショップ川崎銀柳街店店長。来店されたお客様に、おいしい商品と安らぎの空間を提供することを仕事としています。</p>
                                <div class="questionCols-image"></div>
                            </div>
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q2.伊藤屋に入社を決めた理由は何ですか</h3>
                                <p class="questionCols-answer">以前から喫茶業で社員として働きたいと思っていました。その中で伊藤屋が、ドトールコーヒーショップを経営されていたからです。</p>
                                <div class="questionCols-image"></div>
                            </div>
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q3.伊藤屋の良さは何ですか</h3>
                                <p class="questionCols-answer">様々なお店の方とお会いする機会があり、皆様優しく接して下さいます。上司の方ともお会いする時間が多いので、アットホームに働ける環境です。</p>
                                <div class="questionCols-image"></div>
                            </div>
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q4.伊藤屋で働いている時の印象に残るエピソードは何ですか？</h3>
                                <p class="questionCols-answer">店長として任された当初はすごく不安な気持ちでいっぱいでしたが、周りの先輩方が時間を作ってアドバイスや指導をしてくれました。そのおかげで今の業種にすぐに慣れることが出来ました。今でもその先輩方と食事に行ったりしています。</p>
                                <div class="questionCols-image"></div>
                            </div>
                            <div class="questionCols">
                                <h3 class="questionCols-title">Q5.これから伊藤屋に入社を希望する方にメッセージをお願いします</h3>
                                <p class="questionCols-answer">能力に伸び悩んでいる方、接客の仕事が好きな方はもちろんのこと、自分の働きたい環境で全力でサポートしてくれます。<br>向上心のある方と一緒に、笑顔のある職場づくりをしたいです。</p>
                                <div class="questionCols-image"></div>
                            </div>

                        </section>

                    </article>

                    <section class="recruitFooter">
                        <div class="moreButton">
                            <a href="#">応募する</a>
                        </div>
                        <div class="recruitFooter-title">
                            Recruit
                        </div>
                        <nav class="recruitFooter-nav">
                            <ul>
                                <li><a href="recruit-message.html">採用メッセージ<span class="arw"></span></a></li>
                                <li><a href="recruit-itoya12.html">伊藤屋を知る12のコト<span class="arw"></span></a></li>
                                <li><a href="recruit-interview.html">社員インタビュー<span class="arw"></span></a></li>
                                <li><a href="recruit-requirement.html">募集要項<span class="arw"></span></a></li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
                <% include layout/_script %>
