<% var pageClass = "page-recruit-messege"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                        <div class="pageHeading">
                            <h1>Recruit</h1>
                        </div>
                        <div class="breadcrumbs">Home - Recruit Message</div>
                        <section class="topMessage">
                            <h2>代表メッセージ</h2>
                            <p class="topMessage-text">
                            </p>
                            <div class="topMessage-image">
                            </div>
                        </section>
                        <section class="Vision">
                            <h2>ビジョン</h2>
                            <p class="Vision-text">
                            </p>
                            <div class="Vision-image">
                            </div>
                        </section>
                        <div class="submitButton">
                            応募する
                        </div>
                        <section class="recruitFooter">
                            <div class="recruitFooter-title">
                                Recruit
                            </div>
                            <nav class="recruitFooter-nav">
                                <ul>
                                    <li>採用メッセージ</li>
                                    <li>伊藤屋を知る12のコト</li>
                                    <li>社員インタビュー</li>
                                    <li>募集要項</li>
                                </ul>
                            </nav>
                        </section>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
            <% include layout/_script %>
