<% var pageClass = "page-recruit-interview-01"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>Recruit</h1>
                    </div>
                    <div class="breadcrumbs">Home - Interview - A.A</div>
                    <article class="">
                        <div class="discriptionBox">
                            <div class="discriptionBox-image"></div>
                            <div class="careerCard">
                                <p class="careerCard-date">
                                    <time datetime="2015">2015年</time> 入社
                                </p>
                                <h2 class="careerCard-name">A.A</h2>
                                <p class="careerCard-job">マネージャー</p>
                                <p class="careerCard-text">あjさんdじゃvsじゃvんさ</p>
                            </div>
                        </div>
                        <section class="question">
                            <h2 class="question-title"></h2>
                            <p class="question-answer"></p>
                            <div class="question-image"></div>
                        </section>
                        <section class="question">
                            <h2 class="question-title"></h2>
                            <p class="question-answer"></p>
                            <div class="question-image"></div>
                        </section>
                        <section class="question">
                            <h2 class="question-title"></h2>
                            <p class="question-answer"></p>
                            <div class="question-image"></div>
                        </section>
                        <section class="question">
                            <h2 class="question-title"></h2>
                            <p class="question-answer"></p>
                            <div class="question-image"></div>
                        </section>
                        <section class="question">
                            <h2 class="question-title"></h2>
                            <p class="question-answer"></p>
                            <div class="question-image"></div>
                        </section>
                    </article>

                    <div class="submitButton">
                        応募する
                    </div>
                    <section class="recruitFooter">
                        <div class="recruitFooter-title">
                            Recruit
                        </div>
                        <nav class="recruitFooter-nav">
                            <ul>
                                <li>採用メッセージ</li>
                                <li>伊藤屋を知る12のコト</li>
                                <li>社員インタビュー</li>
                                <li>募集要項</li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
                <% include layout/_script %>
