<% var pageClass = "page-recruit-interview"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>Recruit</h1>
                    </div>
                    <div class="breadcrumbs">Home - Interview</div>
                    <div class="contentDiscription">
                        <h2 class="contentDiscription-title">社員インタビュー</h2>
                        <p class="contentDiscription-text">
                            伊藤屋で働く社員にインタビューしました！
                        </p>
                    </div>
                    <section class="interviewBoxes">
                        <ul>
                            <li class="interviewBox">
                                <div class="interviewBox-image"></div>
                                <p class="interviewBoxDate">
                                    <time datetime="2015">2015年</time> 入社
                                </p>
                                <h3 class="interviewBoxName">A.A</h3>
                                <p class="interviewBoxJob">マネージャー</p>
                            </li>
                            <li class="interviewBox">
                                <div class="interviewBox-image"></div>
                                <p class="interviewBoxDate">
                                    <time datetime="2015">2015年</time> 入社
                                </p>
                                <h3 class="interviewBoxName">A.A</h3>
                                <p class="interviewBoxJob">マネージャー</p>
                            </li>
                            <li class="interviewBox">
                                <div class="interviewBox-image"></div>
                                <p class="interviewBoxDate">
                                    <time datetime="2015">2015年</time> 入社
                                </p>
                                <h3 class="interviewBoxName">A.A</h3>
                                <p class="interviewBoxJob">マネージャー</p>
                            </li>
                            <li class="interviewBox">
                                <div class="interviewBox-image"></div>
                                <p class="interviewBoxDate">
                                    <time datetime="2015">2015年</time> 入社
                                </p>
                                <h3 class="interviewBoxName">A.A</h3>
                                <p class="interviewBoxJob">マネージャー</p>
                            </li>
                            <li class="interviewBox">
                                <div class="interviewBox-image"></div>
                                <p class="interviewBoxDate">
                                    <time datetime="2015">2015年</time> 入社
                                </p>
                                <h3 class="interviewBoxName">A.A</h3>
                                <p class="interviewBoxJob">マネージャー</p>
                            </li>
                        </ul>
                    </section>

                    <div class="submitButton">
                        応募する
                    </div>
                    <section class="recruitFooter">
                        <div class="recruitFooter-title">
                            Recruit
                        </div>
                        <nav class="recruitFooter-nav">
                            <ul>
                                <li>採用メッセージ</li>
                                <li>伊藤屋を知る12のコト</li>
                                <li>社員インタビュー</li>
                                <li>募集要項</li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
                <% include layout/_script %>
