<% var pageClass = "page-recruit-requirement"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                        <div class="pageHeading">
                            <h1>Recruit</h1>
                        </div>
                        <div class="breadcrumbs">Home - Recuirements</div>
                        <section class="personal">
                            <h2>求める人物像</h2>
                            <p>わあっか</p>
                            <ul class="personalBoxes">
                                <li class="personalBox">
                                    <div class="personalBox-image">

                                    </div>
                                    <h3 class="personalBox-title"></h3>
                                </li>
                                <li class="personalBox">
                                    <div class="personalBox-image">

                                    </div>
                                    <h3 class="personalBox-title"></h3>
                                </li>
                                <li class="personalBox">
                                    <div class="personalBox-image">

                                    </div>
                                    <h3 class="personalBox-title"></h3>
                                </li>
                            </ul>
                        </section>
                        <section class="jobList">
                            <h2>募集職種</h2>

                        </section>
                        <section class="requirements">
                            <h2>募集要項</h2>

                        </section>
                        <div class="submitButton">
                            応募する
                        </div>
                        <section class="recruitFooter">
                            <div class="recruitFooter-title">
                                Recruit
                            </div>
                            <nav class="recruitFooter-nav">
                                <ul>
                                    <li>採用メッセージ</li>
                                    <li>伊藤屋を知る12のコト</li>
                                    <li>社員インタビュー</li>
                                    <li>募集要項</li>
                                </ul>
                            </nav>
                        </section>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
            <% include layout/_script %>
