<% var pageClass = "page-id-28"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <div class="container">
                <article id="contents">
                    <h2 class="pageHeading2">Service</h2>

                    <section>
                        <div class="serviceMenu">
                            <dl class="serviceIconContainer btn1  serviceOn">
                                <dt><div class="icon"></div></dt>
                                <dd><div class="iconText">BRANDING</div></dd>
                            </dl>

                            <dl class="serviceIconContainer btn2">
                                <dt><div class="icon"></div></dt>
                                <dd><div class="iconText">WEB</div></dd>
                            </dl>

                            <dl class="serviceIconContainer btn3 ">
                                <dt><div class="icon"></div></dt>
                                <dd><div class="iconText">GRAPHIC</div></dd>
                            </dl>

                        </div>

                    </section>

                    <section>
                        <div class="service">
                            <div class="serviceDiscriptionContainer content1 isServiceActive">
                                <h3 class="pageHeading3">ブランディング</h3>
                                <div class="serviceDiscription">

                                    <p>ブランディングをします。ブランディングをします。ブランディングをします。ブランディングをします。</p>

                                </div>
                                <ul class="workConteiner">
                                    <li class="work"></li>
                                    <li class="work"></li>
                                    <li class="work"></li>
                                </ul>
                                    <a href="#" class="buttonWork">more</a>
                            </div>

                            <div class="serviceDiscriptionContainer content2">
                                <h3 class="pageHeading3">ホームページ</h3>
                                <div class="serviceDiscription">

                                    <p>ブランディングをします。ブランディングをします。ブランディングをします。ブランディングをします。</p>

                                </div>
                                <ul class="workConteiner">
                                    <li class="work"></li>
                                    <li class="work"></li>
                                    <li class="work"></li>
                                </ul>
                                    <a href="#" class="buttonWork">more</a>
                            </div>

                            <div class="serviceDiscriptionContainer content3">
                                <h3 class="pageHeading3">グラフィック</h3>
                                <div class="serviceDiscription">

                                    <p>ブランディングをします。ブランディングをします。ブランディングをします。ブランディングをします。</p>

                                </div>
                                <ul class="workConteiner">
                                    <li class="work"></li>
                                    <li class="work"></li>
                                    <li class="work"></li>
                                </ul>
                                    <a href="#" class="buttonWork">more</a>
                            </div>
                            <!-- <div class="serviceDiscriptionContainer">
                                <h3 class="pageHeading3">ブランディング</h3>
                                <p>ブランディングをします。</p>
                                <p>ブランディングをします。ブランディングをします。ブランディングをします。ブランディングをします。</p>
                            </div>
                            <div class="serviceDiscriptionContainer">
                                <h3 class="pageHeading3">ブランディング</h3>
                                <p>ブランディングをします。</p>
                                <p>ブランディングをします。ブランディングをします。ブランディングをします。ブランディングをします。</p>
                            </div> -->
                        </div>
                    </section>
                </article>
            </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
