<% var pageClass = "page-service"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>Service</h1>
                    </div>
                    <div class="breadcrumbs">Home - Service</div>
                    <article class="serviceContents">
                        <h2>大戸屋</h2>
                        <div class="serviceContents-logo otoya00"></div>
                        <section>
                            <p class="serviceContents-text">【素材のよさ】と【店内調理にこだわる】日本最大の定食チェーン。大戸屋のお手本は、「にっぽんの食卓ごはん」。一品一品ご注文をいただいてから、ちゃんと、お店でこしらえることを大切にしています。
                            </p>
                            <div class="serviceContents-image01 otoya01"></div>
                            <p class="serviceContents-text">
                                私達は、お客様の”ごちそうさま！また来るよ！”の言葉が最大の元気の源です。この魔法の言葉で調理も接客サービスも清掃も、もっと頑張れる。そんな地域に密着した店舗を目指して、様々な年代のスタッフが元気に、笑顔で活躍中です。
                            </p>
                            <div class="imageWrap">
                                <div class="serviceContents-image02 otoya02"></div>
                                <div class="serviceContents-image03 otoya03"></div>
                            </div>
                            <div class="serviceContents-image04 otoya04"></div>
                        </section>
                    </article>
                    <div class="serviceFooter">
                        <nav class="serviceFooter-nav">
                            <ul>
                                <li>
                                    <a href="#">
                                    PRONTO<span class="arw"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        ドトールコーヒー<span class="arw"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        大戸屋<span class="arw"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        焼肉&Bar 十炭<span class="arw"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
            <% include layout/_script %>
