<% var pageClass = "page-service"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>Service</h1>
                    </div>
                    <div class="breadcrumbs">Home - Service</div>
                    <article class="serviceContents">

                        <section class="wrapper-top">
                            <div class="wrapper-top-left">
                                <h2>焼肉&BAR 十炭</h2>
                                <div class="serviceContents-logo jittan00"></div>
                                <p class="serviceContents-text">伊藤屋がオリジナルで運営する焼肉＆BAR 十炭（ジッタン）。2001年の創業依頼、川崎では珍しい個室で焼肉を堪能できるお店。【美味しいをずっと】、【新しいをもっと】を理念に、ブランド牛にこだわらず、A５ランクのお肉を厳選して提供してきました。
                                </p>
                            </div>
                            <div class="wrapper-top-right">
                                <div class="serviceContents-image01 jittan01"></div>
                            </div>
                        </section>
                        <section class="wrapper-bottom">
                            <div class="wrapper-bottom-top">
                                <div class="wrapper-bottom-right">
                                    <p class="serviceContents-text">
                                        長年にわたり、多くのお客様に支えられて成長してきたお店です。これからも感謝の気持ちを忘れずに、【こだわりの明確化】【お洒落な雰囲気】【元気なスタッフ】をテーマに”川崎で一番の焼肉屋、また来たい！と思われるお店”を目指してスタッフ全員で営業しています。
                                    </p>
                                </div>
                                <div class="wrapper-bottom-left">
                                    <div class="imageWrap">
                                        <div class="serviceContents-image02 jittan02"></div>
                                        <div class="serviceContents-image03 jittan03"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-bottom-top">
                                <div class="serviceContents-image04 jittan04"></div>
                            </div>
                        </section>
                    </article>
                    <div class="serviceFooter">
                        <nav class="serviceFooter-nav">
                            <ul>
                                <li>
                                    <a href="#">
                                        ドトールコーヒーショップ<span class="arw"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        大戸屋ごはん処<span class="arw"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    PRONTO<span class="arw"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        焼肉&BAR 十炭<span class="arw"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
                <% include layout/_script %>
