<% var pageClass = "page-service"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <main class="contents">
                <div class="contents-inner">
                    <div class="pageHeading">
                        <h1>Service</h1>
                    </div>
                    <div class="breadcrumbs">Home - Service</div>
                    <article class="">
                        <h2>PRONTO</h2>
                        <div class="serviceContents-logo"></div>
                        <section class="serviceContents">
                            <p class="serviceContents-text">コーヒーの焙煎卸業としてスタートしたドトールコーヒーは、“一杯のおいしいコーヒーを通じて、お客様にやすらぎと活力を提供する”という企業理念のもと、セルフコーヒーショップのパイオニアとして立地創造を重ね、世の中に新たな価値を提案してまいりました。 創業から半世紀を経たいま、コーヒービジネスの枠を越えて、DOUTORといえば「おいしい」「安全・安心」「高品質」の代名詞となるようなブランドを確立してまいります。
                            </p>
                            <div class="serviceContents-pronto-image01"></div>
                            <p class="serviceContents-text">
                                お客様はもとより、従業員、加盟店、取引先、地域社会の皆様をはじめ、ドトールグループに関わるすべての人々を幸せにするエクセレント・リーディングカンパニーを目指し、これからも成長を続けてまいりたいと思います。
                            </p>
                            <div class="serviceContents-pronto-image02"></div>
                            <div class="serviceContents-pronto-image03"></div>
                            <div class="serviceContents-pronto-image04"></div>
                        </section>
                        <section class="serviceFooter">
                            <nav class="serviceFooter-nav">
                                <ul>
                                    <li>PRONTO</li>
                                    <li>ドトールコーヒー</li>
                                    <li>大戸屋</li>
                                    <li>焼肉 & Bar 十炭</li>
                                </ul>
                            </nav>
                        </section>
                    </article>
                </div>
            </main>
            <!-- end contents -->
            <% include layout/_footer %>
            <% include layout/_script %>
