<% var pageClass = "page-works"; %>
    <% include layout/_head %>
        <% include layout/_header %>

            <!-- start contents -->
            <div class="container">
            <section class="works">
                <h2 class="pageHeading2">Works</h2>
                <ul id="works-worksList">
                    <li class="works-work">
                        <div class="works-container">
                        <a href="work.html">
                        <div data-picture data-alt="瀧本珈琲" class="worksimg">
                        </div>
                        </a>
                        <p class="work-caption">WEB</p>
                        </div>
                        <h3 class="pageHeading3">瀧本珈琲</h3>
                    </li>
                    <li class="works-work">
                        <div class="works-container">
                        <p><a href="work.html" target="_blank">
                        <div data-picture data-alt="瀧本珈琲" class="worksimg">
                        </div>
                        </a></p>
                        <p class="work-caption">WEB</p>
                        </div>
                        <h3 class="pageHeading3">瀧本珈琲</h3>
                    </li>
                    <li class="works-work">
                        <div class="works-container">
                        <p><a href="work.html" target="_blank">
                        <div data-picture data-alt="瀧本珈琲" class="worksimg">
                        </div>
                        </a></p>
                        <p class="work-caption">WEB</p>
                        </div>
                        <h3 class="pageHeading3">瀧本珈琲</h3>
                    </li>
                    <li class="works-work">
                        <div class="works-container">
                        <p><a href="work.html" target="_blank">
                        <div data-picture data-alt="瀧本珈琲" class="worksimg">
                        </div>
                        </a></p>
                        <p class="work-caption">WEB</p>
                        </div>
                        <h3 class="pageHeading3">瀧本珈琲</h3>
                    </li>
                    <li class="works-work">
                        <div class="works-container">
                        <p><a href="work.html" target="_blank">
                        <div data-picture data-alt="瀧本珈琲" class="worksimg">
                        </div>
                        </a></p>
                        <p class="work-caption">WEB</p>
                        </div>
                        <h3 class="pageHeading3">瀧本珈琲</h3>
                    </li>
                    <li class="works-work">
                        <div class="works-container">
                        <p><a href="work.html" target="_blank">
                        <div data-picture data-alt="瀧本珈琲" class="worksimg">
                        </div>
                        </a></p>
                        <p class="work-caption">WEB</p>
                        </div>
                        <h3 class="pageHeading3">瀧本珈琲</h3>
                    </li>

                    <div class='wp-pagenavi'>

                    </div>
                </ul>
            </section>

            </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
