<% var pageClass = "page-work"; %>
    <% include layout/_head %>
        <% include layout/_header %>

            <!-- start contents -->
            <div class="work-countainer">
                <aside class="archive-aside">
                    <ul>
                        <li>
                            <div class="archive-aside-icon"></div>
                            <div class="archive-aside-date">2018.7.31</div>
                            <div class="archive-aside-title">瀧本珈琲</div>
                        </li>
                        <li>
                            <div class="archive-aside-icon"></div>
                            <div class="archive-aside-date">2018.7.31</div>
                            <div class="archive-aside-title">谷川ゆき行政書士事務所</div>
                        </li>
                        <li>
                            <div class="archive-aside-icon"></div>
                            <div class="archive-aside-date">2018.7.31</div>
                            <div class="archive-aside-title">瀧本珈琲</div>
                        </li>
                    </ul>
                </aside>
                <div class="container">

                    <section class="work">
                        <h2 class="pageHeading2">Works</h2>
                        <div class="work-headingimage"></div>
                        <h3 class="arrow pageHeading3">瀧本珈琲</h3>
                        <p class="work-caption">概要をかきます。あああああああああああああああああああああああああああ。</p>
                        <div class="work-information">
                            <div class="work-client">
                                Client: Takimoto Coffee
                            </div>
                            <div class="work-role">
                                My Role: Direction, Design, Programing
                            </div>
                            <div class="work-launch">
                                Launch: 2018.07
                            </div>
                            <div class="work-url">
                                URL: takimotocoffee.com
                            </div>
                        </div>

                        <div class="work-image"></div>
                        <div class="work-image"></div>
                        <div class="work-image"></div>
                        <div class="work-image"></div>
                        <div class="work-image"></div>




                    </section>
                </div>
            </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
