            <footer class="footer">
                <div class="pagetop js-pagetop is-pagetop-show">
                    <a href="#top" class="btnPageTop"></a>
                </div>
                <div class="footer-inner">
                    <div class="footer-logo"></div>
                    <p class="copy">&copy; 2019 Itoya inc.</p>
                </div>
            </footer>
        </div>
        <!-- end wrapper -->
