.page-about .wrapper {
  width: 100%; }

.page-about .about-container {
  position: relative;
  width: 90%;
  margin: 0 5%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .page-about .about-container {
      width: 600px; } }

.page-about .containerBox {
  position: relative;
  box-shadow: 0 0 30px 5px #F2f2f2;
  padding: 32px;
  padding: 2rem;
  margin-bottom: 64px;
  margin-bottom: 4rem; }

.page-about .aboutMe {
  height: 250px; }

.page-about .about-photo {
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  background: #eee;
  box-shadow: 0 0 30px 5px #F2f2f2;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 64px;
  margin-bottom: 4rem; }

.page-about .nameEnglish {
  position: absolute;
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.page-about .nameJapanese {
  position: absolute;
  text-align: center;
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-bottom: 64px;
  margin-bottom: 4rem;
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.page-about .katagaki {
  position: absolute;
  text-align: center;
  font-size: 22.4px;
  font-size: 1.4rem;
  margin-bottom: 64px;
  margin-bottom: 4rem;
  top: 180px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.page-about .snsLinks {
  text-align: center;
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .page-about .snsLinks .snsLink {
    display: inline-block;
    border: solid 1px #000;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 16px;
    margin: 0 1rem; }

.page-about .profile {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 40px;
  line-height: 2.5rem; }
  .page-about .profile p {
    margin-bottom: 16px;
    margin-bottom: 1rem; }

.page-about .skill {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 32px;
  line-height: 2rem; }

.page-about .skillLists {
  font-size: 22.4px;
  font-size: 1.4rem; }
  .page-about .skillLists li {
    display: inline-block; }
  .page-about .skillLists li:after {
    content: '/';
    display: inline-block;
    margin: 0 16px;
    margin: 0 1rem; }
