.page-service .icon {
  border: solid 1px #000;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 16px auto;
  margin: 1rem auto; }

.page-service .iconText {
  text-align: center; }

.page-service .service {
  zoom: 1; }
  .page-service .service:before, .page-service .service:after {
    content: "";
    display: block; }
  .page-service .service:after {
    clear: both; }

.page-service .serviceIconContainer {
  border: solid 1px #f2f2f2;
  width: 128px;
  width: 8rem;
  height: 128px;
  height: 8rem;
  margin: 0 16px 32px 0;
  margin: 0 1rem 2rem 0;
  float: left; }
  .page-service .serviceIconContainer:hover {
    box-shadow: 0 0 30px 5px #f2f2f2;
    color: green; }

.page-service .serviceDiscriptionContainer {
  box-shadow: 0 0 30px 5px #f2f2f2;
  border: solid 1px #f2f2f2;
  width: 100%;
  padding: 32px;
  padding: 2rem;
  margin-bottom: 16px;
  margin-bottom: 1rem; }
  .page-service .serviceDiscriptionContainer p {
    margin-bottom: 32px;
    margin-bottom: 2rem; }
  @media screen and (min-width: 768px) {
    .page-service .serviceDiscriptionContainer {
      padding: 5rem 10rem; } }

.page-service .work {
  width: calc(90% / 3);
  height: 150px;
  background-color: #333;
  float: left; }
  .page-service .work:nth-child(2) {
    margin: 0 5%; }

.page-service .workConteiner {
  zoom: 1; }
  .page-service .workConteiner:before, .page-service .workConteiner:after {
    content: "";
    display: block; }
  .page-service .workConteiner:after {
    clear: both; }

.page-service .buttonWork {
  border: 1px solid #333;
  width: 100%;
  height: auto; }
  .page-service .buttonWork a {
    margin: 0 auto; }
