.page-contact {
    @media screen and (min-width: 1024px) {
        margin-left: 200px;
    }

    .pageHeading2 {
        text-align: left;
        margin-bottom: 10rem;
    }

    .containerBox {
        margin-bottom: 20rem;
    }

    .container {
        @media screen and (min-width: 1024px) {
            margin: 0 0 0 10%;
        }
        @media screen and (min-width: 1366px) {
            margin: 0 0 0 20%;
        }
        @media screen and (min-width: 2560px) {
            margin: 0 0 0 30%;
        }
    }
    /* contact
----------------------------------------- */
    .txtBox {
        margin-bottom: 30px;

        &-careful {
            color: #f45555;
        }
    }

    .contact-form {
        dt {
            display: block;
            margin-bottom: 1rem;
            font-size: 13px;
        }

        dt span.required {
            margin-left: 10px;
            padding: 1px 3px;
            background-color: #f45555;
            font-size: 10px;
            color: $base_color;
        }

        dd {
            margin-bottom: 2rem;
        }

        dd input {
            width: 250px;
            height: 20px;
            font-size: 16px;
            border: 1px solid $sub2_color;
            cursor: text;
        }

        dd textarea {
            width: 250px;
            font-size: 16px;
            border: 1px solid $sub2_color;
        }
    }

    input.wpcf7-submit {
        width: 23rem;
        height: 4rem;
        margin-top: 3rem;
        cursor: pointer;
        background-color: $base_color;
        border: 1px solid $sub2_color;
        font-size: 1.5rem;
        color: $sub2_color;
        transition: 0.25s ease,color 0.25s ease;

        &:hover {
            background-color: $sub2_color;
            color: $base_color;
        }
    }
    /* タブレット向け：760px～960px */
    @media only screen and (min-width: 760px) {
        .txtBox {
            margin-bottom: 50px;
        }

        .contact-form dd input {
            width: 350px;
        }

        .contact-form dd textarea {
            width: 400px;
        }
    }
    /* タブレット向け */
    /* PC向けレイアウトの指定：961px～ */
    @media only screen and (min-width: 961px) {}
    /* PC向け */
    .wpcf7-response-output {
        border: hidden;
    }

    input[type="text"],
    input[type="submit"],
    textarea,
    select {
        outline: none;
    }
}
