.single-garally {
    .work-countainer {
        @media screen and (min-width: 1024px) {
            position: relative;
            margin: 0 auto;
            margin-left: 200px;
        }
    }

    .container {
        @media screen and (min-width: 1024px) {
            width: 550px;
            margin: 0 0 0 30%;
        }
        @media screen and (min-width: 1200px) {
            width: 700px;
        }
        @media screen and (min-width: 1366px) {
            width: 800px;
        }
    }

    .pageHeading3::before {
        left: 4px;
        box-sizing: border-box;
        width: 4px;
        height: 4px;
        border: 4px solid transparent;
        border-left: 4px solid #5ACF98;
    }

    .garally {
        @media screen and (min-width: 1024px) {
            padding: 0 10%;
        }
        &-headingimage img {
            width: 100%;
            height: auto;
            margin-bottom: 5rem;
            box-shadow: 0 0 20px 5px #F2f2f2;
            // @media screen and (min-width: 768px) {
            //     width: 50%;
            // }
        }
        &-headingimage p {
            text-align: center;
        }

        &-information {
            margin-bottom: 5rem;
        }

        &-caption {
            width: 100%;

            padding-top: 2rem;
            text-align: center;
            margin-bottom: 3rem;
            line-height: 2rem;
        }
        &-title {
            margin: 0 auto;
            padding-top: 3rem;
            .pageHeading3{
                font-size: 1.6rem;
                margin-bottom: 5rem;
            }
        }
        &-titleborder {
            margin: 0 auto;
            border-top: 1px solid #eee;
            width: 50%;
        }
    }
}
