.post-type-archive-works {
    .worksimg {
        width: 100%;
        height: 180px;
        background-size: cover;
        background-position :center;
        margin-bottom: 2rem;
        @media screen and (min-width: 375px) {
            height: 220px;
        }
        @media screen and (min-width: 425px) {
            height: 250px;
        }
        @media screen and (min-width: 500px) {
            height: 280px;
        }
        @media screen and (min-width: 650px) {
            height: 300px;
        }
        @media screen and (min-width: 768px) {
            height: 130px;
        }
        @media screen and (min-width: 1024px) {
            height: 130px;
        }
        @media screen and (min-width: 1440px) {
            height: 180px;
        }
        @media screen and (min-width: 1920px) {
            height: 240px;
        }
        @media screen and (min-width: 2560px) {
            height: 300px;
        }
    }

    .works {
        @media screen and (min-width: 1024px) {
            padding: 0 10%;
        }

        &-container {
            padding: 1rem;
            margin-bottom: 2rem;
            box-shadow: 0 0 20px 5px #F2f2f2;
            @media screen and (min-width: 1024px) {
                transition: 0.25s ease,color 0.25s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }

        }
        &-worksList {
            width: 100%;
        }
        &-work {
            margin-bottom: 4rem;
            @media screen and (min-width: 768px) {
                 width: 30.333%;
                 float: left;
                 margin: 0 1.5% 4rem;
            }
        }
        zoom: 1;
        &:before,&:after{
            content: "";
            display: block;
        }
        &:after {
            clear: both;
        }
    }

}
